<a href="https://colab.research.google.com/github/saivamshiklh/Python-Full-Stack-Development/blob/main/Arithemathic_operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x=5
y=6
print(x+y)

11

In [3]:
print(x-y)

-1

In [4]:
print(x*y)

30

In [5]:
print(x/y)

0.8333333333333334