<a href="https://colab.research.google.com/github/saivamshiklh/Python-Full-Stack-Development/blob/main/marks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
marks={"Maths" : 45 ,"Science" : 23 ,"Social" : 65}
print(marks["Science"])
print(marks["Social"])
print(marks["Maths"])
print(marks.get("Hindi"))

23
65
45
None

In [7]:
squares={1:1,2:4,3:9,4:16,5:25}
print(squares)
key=int(input("Enter key to delete"))
del squares[key]
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
Enter key to delete3
{1: 1, 2: 4, 4: 16, 5: 25}

In [11]:
squares={1:1,2:4,3:9,4:16,5:25}
print(squares)
squares.popitem()
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16}

In [13]:
students={1:"VAMSHI" , 2:"SATYA" , 3:"YESH"}
courses={1:"EMBEDDED",2:"DATA SCIENCE",3:"WEB DEVELOPMENT"}
print("List of students")
print(students)
print("List of courses")
print(courses)
students.clear()

List of students
{1: 'VAMSHI', 2: 'SATYA', 3: 'YESH'}
List of courses
{1: 'EMBEDDED', 2: 'DATA SCIENCE', 3: 'WEB DEVELOPMENT'}

In [14]:
squares={1:1,3:9,5:25,7:49,9:81}
print("1 in squares  :",1 in squares)
print("2 in squares  :",2 not in squares)
print("49 in squares  :",49 in squares)

1 in squares  : True
2 in squares  : True
49 in squares  : False

In [15]:
marks={"Maths":45,"Science":23,"Social":38}
for subject in marks:
  print(subject)
  for subject in marks:
    score=marks[subject]
    print(subject,":",score)

Maths
Maths : 45
Science : 23
Social : 38
Science
Maths : 45
Science : 23
Social : 38
Social
Maths : 45
Science : 23
Social : 38

In [18]:
marks={"Maths":45,"Science":23,"Social":38}
print("keys :",marks.keys())
print("values :",marks.values())
print("----------------------")
for subject,score in marks.items() :
  print(subject,":",score)

keys : dict_keys(['Maths', 'Science', 'Social'])
values : dict_values([45, 23, 38])
----------------------
Maths : 45
Science : 23
Social : 38