<a href="https://colab.research.google.com/github/saivamshiklh/Python-Full-Stack-Development/blob/main/sai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
A={1,2,3,4,5}
B={4,5,6,7,8}
print("Union   =", A|B)
print("Intersection =", A&B)
print("Difference =",A-B)
print("Symmetric Diff =", A^B)

Union   = {1, 2, 3, 4, 5, 6, 7, 8}
Intersection = {4, 5}
Difference = {1, 2, 3}
Symmetric Diff = {1, 2, 3, 6, 7, 8}

In [ ]:
studentList={'danish','jaison','sangeetha','uma','amrutha','lohita','prasad','ashwathi'}
placedStudList={"uma","danish","amrutha"}
notplacedStudList=set(studentList)-set(placedStudList)
print("Students yet to get job \n", notplacedStudList)

Students yet to get job
 {'ashwathi', 'lohita', 'prasad', 'sangeetha', 'jaison'}

In [ ]:
numberset={1,2,3,4,3,2}
print(numberset)

{1, 2, 3, 4}

In [ ]:
emptyset={}
print(type(emptyset))

<class 'dict'>

In [ ]:
emptyset=set()
print(type(emptyset))

<class 'set'>

In [ ]:
my_set={1.0,"Hello",(1,2,3)}
print(my_set)

{1.0, 'Hello', (1, 2, 3)}

In [ ]:
set_with_lists=set([1,2,3])
print(type(set_with_lists))
print(set_with_lists)

<class 'set'>
{1, 2, 3}

In [3]:
my_set=set()
my_set.update([9,12])
my_set.update((3,5))
my_set.update("VAMSHI")
print(my_set)

{'V', 3, 'A', 5, 'H', 'I', 9, 12, 'M', 'S'}

In [ ]:
my_set.discard(12)
print(my_set)

{'K', 3, 5, 'L', 9, 'H'}

In [ ]:
my_set.discard(9)
print(my_set)

{'K', 3, 5, 'L', 'H'}

In [ ]:
my_set=set("apple")
print('a' in my_set)
print('p' not in my_set)

True
False

In [ ]:
batsman=["virat","rohit","dhawan","dhoni"]
bowlers=["bhuvenashwar","shami","pandya"]
allrounders=set(batsman) & set(bowlers)
print("Batsman=",batsman)
print("bowlers=",bowlers)
print("allrounders=",allrounders)

Batsman= ['virat', 'rohit', 'dhawan', 'dhoni']
bowlers= ['bhuvenashwar', 'shami', 'pandya']
allrounders= set()

In [1]:
import calendar
print(calendar.month(2003,5))

      May 2003
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [2]:
numbers={1,2,3,4,5,6}
odd={1,3,5}
even={2,4,6}
print(odd.isdisjoint(even))
print(numbers.issuperset(odd))
print(odd.issuperset(numbers))
print(odd.issubset(numbers))

True
True
False
True

In [4]:
r={"india",55.6,6,6,7,'e'}
r.remove(55.6)
print(r)

{'india', 6, 7, 'e'}

In [5]:
data="cranes varsity banglore"
unique=set(data)
print("number of unique characters =",len(unique))
print("list of unique characters=",unique)
data=list(data)
for ele in unique:
  data.remove(ele)
  print("repeated characters=",set(data))

number of unique characters = 15
list of unique characters= {'o', 's', 'g', 'y', 't', 'b', 'n', 'a', 'v', 'l', 'c', 'e', 'r', 'i', ' '}
repeated characters= {'s', 'g', 'y', 't', 'b', 'n', 'a', 'v', 'l', 'c', 'e', 'r', 'i', ' '}
repeated characters= {'s', 'g', 'y', 't', 'b', 'n', 'a', 'v', 'l', 'c', 'e', 'r', 'i', ' '}
repeated characters= {'s', 'y', 't', 'b', 'n', 'a', 'v', 'l', 'c', 'e', 'r', 'i', ' '}
repeated characters= {'s', 't', 'b', 'n', 'a', 'v', 'l', 'c', 'e', 'r', 'i', ' '}
repeated characters= {'s', 'b', 'n', 'a', 'v', 'l', 'c', 'e', 'r', 'i', ' '}
repeated characters= {'s', 'l', 'n', 'a', 'v', 'c', 'e', 'r', 'i', ' '}
repeated characters= {'s', 'l', 'n', 'a', 'v', 'c', 'e', 'r', 'i', ' '}
repeated characters= {'s', 'l', 'n', 'v', 'a', 'c', 'e', 'r', 'i', ' '}
repeated characters= {'s', 'l', 'n', 'a', 'c', 'e', 'r', 'i', ' '}
repeated characters= {'s', 'n', 'a', 'c', 'e', 'r', 'i', ' '}
repeated characters= {'n', 'a', 's', 'e', 'r', 'i', ' '}
repeated characters= {'n', 'a', 's', 'e', 'r', 'i', ' '}
repeated characters= {'n', 'a', 's', 'e', 'r', 'i', ' '}
repeated characters= {'n', 'a', 's', 'e', 'r', ' '}
repeated characters= {'n', 'a', 's', 'e', 'r', ' '}